*,
body,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.heading {
  margin: 0 auto;
  text-align: center;
}
#headingImg {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.heading-text {
  font-size: 50px;
  font-family: recipeNameFont;
  font-weight: 300;
  margin-bottom: 20px;
}

/* .heading-text:hover {
  color: royalblue;
  background-color: burlywood;
} */

/* recipe-description */
.recipe-description {
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 4 0px;
}

.preparation-section {
  background-color: rgba(238, 130, 238, 0.123);
  padding: 25px;
  border-radius: 10px;
  margin: 30px 0px;
  font-family: wholeText;
}

.preparation-section h1 {
  color: rgba(128, 0, 128, 0.459);
}

.preparation-section ul {
  padding: 0px 25px;
  padding-top: ;
}

.preparation-section ul li {
  margin: 15px 0px;
}

.preparation-section ul li .preparation-section-point {
  font-weight: bold;
  color: rgb(53, 52, 52);
}

.preparation-section ul li .preparation-section-point-text {
  color: rgb(83, 83, 83);
}

/* instructions-section */
.instructions-section h1 {
  color: rgb(155, 129, 96);
  font-family: recipeNameFont;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 15px;
}




/* horizontal line */
.horizontal-line{
  display: block;
  width: 100%;
  height: 100%;
  margin: 20px 0px;
}
