*,
body,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.heading {
  margin: 0 auto;
  text-align: center;
}
#headingImg {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.heading-text {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 20px;
  font-family: 'Young Serif', serif;
}

/* recipe-description */
.details-txt {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 4 0px;
  font-family: 'Outfit', sans-serif;
}

/* these are for all the texts */
.texts-color {
  color: hsl(30, 10%, 34%);
}

.preparation-section {
  background-color: rgba(238, 130, 238, 0.123);
  padding: 25px;
  border-radius: 10px;
  margin: 30px 0px;
}

.preparation-section h1 {
  color: rgba(128, 0, 128, 0.459);
}

.preparation-section ul {
  padding: 0px 25px;
  padding-top: 10px;
}

.preparation-section ul li {
  margin: 15px 0px;
}

.preparation-section-point {
  font-weight: bold;
  color: hsl(24, 5%, 18%);
  font-family: 'Outfit', sans-serif;
}

.genuine-texts {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Outfit', sans-serif;
}

/* instructions-section && instructions-section */
.direction-txt {
  color: hsl(14, 45%, 36%);
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 15px;
  font-family: 'Young Serif', serif;
}

/* instructions-section && ingredients-section */

.direction-list {
  padding: 0px 20px;
}

.direction-list li {
  margin-bottom: 15px;
}

.direction-list li::marker {
  color: hsl(14, 45%, 36%);
}

/* horizontal line */
.horizontal-line {
  display: block;
  width: 100%;
  height: 100%;
  margin: 40px 0px;
}

/* table */
.table {
  display: block;
  padding: 30px 0px;
  font-family: 'Outfit', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table tr{
  display: block;
  border-bottom: 1px solid black;
}

.table tr td{
padding-right: 300px;
}

.attribution{
  text-align: center;
}